NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BACKUP_LINK_1=
NEXT_PUBLIC_BACKUP_LINK_2=
NEXT_PUBLIC_BANK_NAME=ACB
NEXT_PUBLIC_BANK_ACCOUNT=93956886
NEXT_PUBLIC_BANK_OWNER=CT CP TAP DOAN HOANG TU HOLDINGS
NEXT_PUBLIC_BANK_QR_BASE=https://qr.sepay.vn/img

BS_DB_HOST=
BS_DB_PORT=3306
BS_DB_USER=
BS_DB_PASS=
BS_DB_NAME=

BS_REGISTER_WEBHOOK_URL=https://nextg.nextgency.vn/webhook/beautysummit/dang-ky-ve
BS_CHECK_PAYMENT_URL=https://nextg.nextgency.vn/webhook/check-payment
BS_PAYMENT_WEBHOOK_SECRET=
